<fieldset>
  <legend>Forgot Password</legend>

  <form id="form" method="post" autocomplete="off">
    <% if err %>
    <ul class="errorMessages">
      <li>
        <% if err[:field] %>
          <span><%=h err[:field] %> :</span>
        <% end %>
        <%=h err[:msg] %>
      </li>
    </ul>
    <% end %>

    <div>
      <label>Email</label>
      <input class="inputtext" name="email" type="email" required autofocus>
    </div>

    <p>A reset token will be sent to the specified email address</p>

    <div>
      <button class="submit" form="form" type="submit" value="Submit">Submit</button>
    </div>
  </form>
</fieldset>
