<fieldset>
  <legend>Reset Password</legend>
  <form id="form" method="post" autocomplete="off">
    <% if err %>
    <ul class="errorMessages">
      <li>
        <% if err[:field] %>
          <span><%=h err[:field] %> :</span>
        <% end %>
        <%=h err[:msg] %>
      </li>
    </ul>
    <% end %>

    <div>
      <label>Email</label>
      <input class="inputtext" name="email" type="email" required autofocus>
    </div>

    <div>
      <label>Token</label>
      <input class="inputtext" name="token" required>
    </div>

    <div>
      <label>New Password</label>
      <input class="inputtext" name="password" type="password" required>
    </div>

    <div>
      <label>Confirm Password</label>
      <input class="inputtext" name="confirm" type="password" required>
    </div>

    <div>
      <button class="submit" form="form" type="submit" value="Submit">Submit</button>
    </div>
  </form>
</fieldset>
